.jumbotron {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: grey;
  opacity: 0.9;
  margin: 10px;
}

h3{
  /* border:2px solid black; */
  margin-left: 30%;
  margin-right: 30%;
}

h3 {
  font-size: 50px;
}

p {
  font-size: 10px;
  text-align: center;
}

body {
  background-image: url("/assets/git.png");
  background-position: center;
  background-attachment: fixed;
}

.container{
  opacity: 0.85;
}
